.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Középre igazítja a képernyőn */
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.login-btn {
  padding: 24px 0;
  font-size: 1.1em;
  margin-top: 10px;
}